/*nav bar*/
.start-button {
    cursor: pointer;
    min-height: 1em;
    border: none;
    background: rgb(14, 247, 248) none;
    color:rgb(0, 40, 104);
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 .25em 0 0;
    padding: 1em 1.5em 1em;
    font-weight: 550;
    border-radius: .3rem;
}

div.item#navbar-item{
    color: rgb(48, 69, 92);
    font-weight: bolder;
    font-size: 10px;
}

div.ui.mini.secondary.top.fixed{
    background-color: white;
}
/*home page*/
.container.home,
.container.project-index,
.container.create-project,
.container.project-show{
    padding-top: 100px;
}


